<%= @clinical_study.name %>

<% link_to_raw('add assessment'), create_assessment_path(@clinical_study) %>

	 <% if @clinical_study.assessments.any? %>
	 	 <% @clinical_study.assessments.each do |assessment| %>

	 	 <h4> <%= assessment.name %>
	 	 </h4>
	 	 <p>
	 	 	<%= assessment.description %>
	 	 	<%= assessment.protocol_day %> 
	 	 </p>
	 	 <% link_to_raw('show assessment'), show_assessment_path(assessment) %>

	 	 <% end %>
	<% end %>
<% end %>
